

:root {
	--monospace-font: Consolas, "Liberation Mono", Courier, monospace;
}

@custom-media --small screen and (max-width: 40em);
@custom-media --medium screen and (min-width:40.063em) and (max-width:64em);
@custom-media --large screen and (min-width:64.063em);
@custom-media --x-large screen and (min-width:90.063em);
@custom-media --xx-large screen and (min-width:120.063em);





html, body {
	margin: 0;
	padding: 0;
	height: 100% !important;
}

	#wrapper {
		position: relative;
		min-height: 100%;
	}




.row {
	max-width: 80%;
}

	.row.content {
		margin: 5rem auto;
	}

@media only screen and (max-width:90em) {
	.row {
		max-width: 90%;
	}

		.row.content {
			margin: 2rem auto;
		}
}



/* ==  Header  == */

#header {
	position: relative;
	padding: 25px 50px;
}

	h1 {
		color: #ccc;
		font-size: 3.5rem;
		font-weight: normal;
	}

		h1 a, h1 a:hover, h1 a:active, h1 a:focus {
			color: inherit;
		}

	@media only screen and (min-width:40.063em) {
		#header nav {
			position: absolute;
			top: 35px;
			right: 65px;
		}

			#header nav ul {
				list-style-type: none;
			}

				#header nav ul li {
					display: inline-block;
					margin: 1.5rem;
					font-size: 1.25rem;
				}

					#header nav ul li a {
						color: #ccc;
						transition: color .2s linear;
					}

					#header nav ul li a:hover {
						color: #28b;
					}
	}

	@media (--small) {
		#header nav {
			padding: 2rem 0 0;
		}

			#header nav ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

				#header nav ul li {
					display: block;
					padding: 1px;
				}

					#header nav ul li a {
						color: #fff;
						display: block;
						width: 100%;
						padding: 1rem;
						background: #2ad;
					}

					#header nav ul li a:hover {
						/**/
					}
	}



/* ==  Content  == */

#content {
	padding: 25px 50px 10rem;
}

	h2, h3 {
		margin-top: 5rem;
		margin-bottom: 1.5rem;
		position: relative;
		left: -35px;
		color: #999;
		font-size: 2.5rem;
	}

	p {
		color: #444;
		font-size: 1.4rem;
	}

		p code,
		li code,
		dt code,
		dd code,
		h2 code {
			margin: 0 2px;
			padding: 0 5px;
			background: #def;
			text-shadow: 1px 0 0 #fff;
			box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
			position: relative;
			top: -1px;
			left: -1px;
		}

	dl {
		padding: 15px 35px;
	}

		dl dt {
			line-height: 1;
			font-size: 1.3rem;
			font-weight: normal;
		}

		dl dd {
			color: #444;
			font-size: 1.3rem;
			margin-left: 1rem;
			margin-bottom: 2rem;
		}

	ul {
		padding: 15px 35px;
	}

		ul li {
			font-size: 1.2rem;
		}

	code {
		font-size: 0.9em;
		font-weight: normal;
	}

	div.file {
		margin: 2rem 0;
		padding: 1em 1em 0;
		border: 1px #e5e5e5 solid;
		border-radius: 10px;
		background: #f5f5f5;
	}
		
		div.file h3 {
			font-size: 1rem;
			padding: 0 0 1em;
			font-weight: bold;
			font-family: var(--monospace-font);
			margin: 5px;
			position: static;
			left: 0;
			color: #666;
		}



@media (--small) {
	html, body {
		font-size: 90%;
	}

	#content {
		padding: 5px;
		padding-bottom: 13rem;
	}

		#content > section {
			margin: 0;
			padding: 0;
		}

	p {
		margin: 0 0 1.25rem;
	}

	h1 {
		margin: 1rem;
		text-align: center;
	}

	h2 {
		position: static;
		left: 0;
	}

	pre[class*="language-"] {
		margin: 2rem 0;
	}

	dl {
		padding: 15px;
	}
}



/* ==  Footer  == */

#footer {
	padding: 2rem;
	background: #333;
	color: #fff;
	line-height: 1.4;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 7rem;
}

@media (--small) {
	#footer {
		height: 8rem;
	}
}
