
.row {
	max-width: 80%;
}

	.row.content {
		margin: 5rem auto;
	}

div.file {
	padding: 0;
	margin: 4rem 0;
}
	
	div.file h3 {
		font-size: 1rem;
		padding: 1em 1.5em;
		font-family: Consolas, "Liberation Mono", Courier, monospace;
		border: 1px #e5e5e5 solid;
		border-width: 1px 1px 0;
		border-radius: 10px 10px 0 0;
	}



/* ==  Header  == */

#header {
	position: relative;
	padding: 25px 50px;
}

	h1 {
		color: #ccc;
		font-size: 3.5rem;
		font-weight: normal;
	}

		h1 a, h1 a:hover {
			color: inherit;
		}

	@media only screen and (min-width:40.063em) {
		#header nav {
			position: absolute;
			top: 35px;
			right: 65px;
		}

			#header nav ul {
				list-style-type: none;
			}

				#header nav ul li {
					display: inline-block;
					margin: 1.5rem;
					font-size: 1.25rem;
				}

					#header nav ul li a {
						color: #ccc;
						transition: color .2s linear;
					}

					#header nav ul li a:hover {
						color: #28b;
					}
	}

	@media only screen and (max-width: 40em) {
		#header nav {
			padding: 2rem 0 0;
		}

			#header nav ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

				#header nav ul li {
					display: block;
					padding: 1px;
				}

					#header nav ul li a {
						color: #fff;
						display: block;
						width: 100%;
						padding: 1rem;
						background: #2ad;
					}

					#header nav ul li a:hover {
						/**/
					}
	}



/* ==  Content  == */

#content {
	padding: 25px 50px;
}


	h2 {
		margin-top: 5rem;
		margin-bottom: 1.5rem;
		position: relative;
		left: -35px;
		color: #aaa;
	}

	p {
		color: #444;
		font-size: 1.4rem;
	}

	dl {
		padding: 15px 35px;
	}

		dl dt {
			font-size: 1.2rem;
		}

		dl dd {
			color: #444;
			font-size: 1.2rem;
			margin-left: 1rem;
		}



@media only screen and (max-width: 40em) {
	html, body {
		font-size: 90%;
	}

	#content {
		padding: 5px;
	}

		#content > section {
			margin: 0;
			padding: 0;
		}

		.row {
			max-width: 90%;
		}

			.row.content {
				margin: 2rem auto;
			}

	p {
		margin: 0 0 1.25rem;
	}

	h1 {
		margin: 1rem;
		text-align: center;
	}

	h2 {
		position: static;
		left: 0;
	}

	pre[class*="language-"] {
		margin: 2rem 0;
	}

	dl {
		padding: 15px;
	}
}
