
section.home {
	/**/
}

	section.home .row.content > .row p {
		margin-top: 1.25rem;
	}

@media only screen and (max-width: 40em) {
	section.home .intro {
		line-height: 1.8;
		text-align: center;
	}
}
