
section.home {
	/**/
}

	section.home .row.content > .row p {
		margin-top: 1.25rem;
	}

	section.home p.intro {
		text-align: center;
	}

@media (--small) {
	section.home p.intro {
		line-height: 1.8;
	}
}
