<header>
	<h1><a href="/#welcome">Dagger.js</a></h1>
	<p>
		A Node.js REST API framework with built-in websocket support
	</p>
</header>
<nav>
	<a href="/#intro">Intro</a>
	<a href="/#get-started">Getting Started</a>
	<a href="/#examples">Examples</a>
	<a href="/#docs">Documentation</a>
</nav>