<div class="row content">
	<h2>Guides</h2>

	<div class="row">
		<div class="small-12 columns">
			<ul>
				<li><a href="/#guides/cli">The <code>dagger</code> Command</a></li>
				<li><a href="/#guides/config">Configuring Your App</a></li>
				<li><a href="/#guides/endpoints">Endpoints</a></li>
				<li><a href="/#guides/models">Models</a></li>
				<li><a href="/#guides/middleware">Middleware</a></li>
				<li><a href="/#guides/bootstrapers">Bootstrappers</a></li>
			</ul>
		</div>
	</div>
</div>
