<div class="row content">
	<h2>Guides</h2>

	<div class="row">
		<div class="small-12 columns">
			<ul>
				<li><a href="/guides/cli" data-local="true">The <code>dagger</code> Command</a></li>
				<li><a href="/guides/config" data-local="true">Configuring Your App</a></li>
				<li><a href="/guides/endpoints" data-local="true">Endpoints</a></li>
				<li><a href="/guides/models" data-local="true">Models</a></li>
				<li><a href="/guides/middleware" data-local="true">Middleware</a></li>
				<li><a href="/guides/bootstrapers" data-local="true">Bootstrappers</a></li>
				<li><a href="/guides/websockets" data-local="true">Websockets (via socket.io)</a></li>
			</ul>
		</div>
	</div>
</div>
